.wrapper{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 0.5em;
        grid-auto-rows: minmax(100px, auto);
        margin: 1em;
      }

.a, header{

    background: #eee;
	padding:1em;
    border-radius: 10px;
    text-decoration: none;

}


.wrapper > a{
					background: #eee;
					padding:1em;
					border-radius: 10px;

			}

.wrapper > a:nth-child(odd){
				background:#ddd;
			}

.header{
    grid-column: 1/4;
    text-align: center;
}
