body{
    font-family: Sans-Serif;
    font-weight:500;
    font-size:1.1rem;
    background-image: linear-gradient(#f2f2f2, white);
}
.wrapper{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 0.5em;
        grid-auto-rows: minmax(100px, auto);
        margin: 1em;
        height: calc(100vh - 50px);
}

.a, header{
	padding:1em;
    border-radius: 10px;
    text-decoration: none;
}

.wrapper > a {
	padding:1em;
	border-radius: 10px;
	color: black;
	text-decoration: none;
}

.header {
    grid-column: 1/4;
    text-align: center;
}

.__label__1{background-color: #fae596;} /* sport - zolty */
.__label__2{background-color: #3fb0ac;} /* polityka - niebieski */
.__label__3{background-color: #173e43;}

.wrapper > a:hover {
	opacity:0.8;
	color:black;
}


@media screen and (max-width: 600px) {
 
	body{
		font-family: Sans-Serif;
		font-weight:500;
		font-size:1.1rem;
		background-image: linear-gradient(#f2f2f2, white);
	}
	.wrapper{
			display:grid;
			grid-template-columns: 1fr;
			grid-gap: 0.5em;
			grid-auto-rows: auto;
			margin: 1em;
			
	}

	.a, header{
		padding:1em;
		border-radius: 10px;
		text-decoration: none;
	}

	.wrapper > a {
		padding:1em;
		border-radius: 10px;
		color: black;
		text-decoration: none;
	}

	.header {
		grid-column: 1/1;
		text-align: center;
	}

}